body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: --6px;
    width: 889px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../NavigationHeader_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-6px;
    top:-7px;
    width:889px;
    height:83px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:895px;
    height:89px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:885px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../NavigationHeader_files/u2_mouseOver.png');
}

.u2_normal {
    background-image: url('../NavigationHeader_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:25px;
    top:25px;
    width:100px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_mouseOver {
    background-image: url('../NavigationHeader_files/u2_mouseOver.png');
}

.u4_normal {
    background-image: url('../NavigationHeader_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:153px;
    top:25px;
    width:100px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_mouseOver {
    background-image: url('../NavigationHeader_files/u2_mouseOver.png');
}

.u6_normal {
    background-image: url('../NavigationHeader_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:276px;
    top:25px;
    width:100px;
    height:25px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u7 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../NavigationHeader_files/u8_mouseOver.png');
}

.u8_normal {
    background-image: url('../NavigationHeader_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:397px;
    top:25px;
    width:100px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../NavigationHeader_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:695px;
    top:12px;
    width:163px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:163px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:159px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Page_2_files/jsPanel_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:73px;
    top:205px;
    width:435px;
    height:444px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:441px;
    height:450px;
}

.u14 {
    position:absolute;
    left:10px;
    top:10px;
    width:415px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:679px;
    top:147px;
    width:69px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

